<div class="container">
    <ul class="nav navbar-nav departments-menu animate-dropdown">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" id="departments-menu-toggle" >Shop by Department</a>
             <ul id="menu-vertical-menu" class="dropdown-menu yamm departments-menu-dropdown">                
                 <li class="menu-item animate-dropdown"><a title="Printers &amp; Ink" href="product-category.html">test link</a></li>
             </ul> 
        </li>
    </ul>
    <form class="navbar-search" method="get" action="/">
        <label class="sr-only screen-reader-text" for="search">Search for:</label>
        <div class="input-group">
            <input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="Search for products" />
            <div class="input-group-addon search-categories">
                <select name='product_cat' id='product_cat' class='postform resizeselect' >
                    <option value='0' selected='selected'>{{staticTranslate["all-categories"] ? staticTranslate["all-categories"]:'All Categories'}}</option>
                    <option class="level-0" value="laptops-laptops-computers">test</option>
                </select>
            </div>
            <div class="input-group-btn">
                <input type="hidden" id="search-param" name="post_type" value="product" />
                <button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
            </div>
        </div>
    </form>
</div>