<footer id="colophon" class="site-footer">


	<div class="footer-bottom-widgets">
		<div class="container">
			<div class="row">
				
				<ul id="site-map">
					<h4 class=""></a>Site map: </h4>
					<li><a href="#/">Main page</a></li>
					<li><a href="#/">Departments</a></li>
					<li><a href="#/">Articles</a></li>
					<li><a href="#/">About Us</a></li>
					<li><a href="#/">Contacts</a></li>
					<li><a href="#/">Service</a></li>
				</ul>

			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<div class="container">
			<div class="pull-left flip copyright">&copy; <a href="#/">Zachet</a> - All Rights Reserved</div>

		</div><!-- /.container -->
	</div><!-- /.copyright-bar -->
</footer><!-- #colophon -->