    <div id="content" class="site-content" tabindex="-1">
        <div class="container">

            <nav class="woocommerce-breadcrumb">
                <a href="home.html">Home</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                <a href="product-category.html">Accessories</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                <a href="product-category.html">Headphones</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>Ultra Wireless S50 Headphones S50 with Bluetooth
            </nav><!-- /.woocommerce-breadcrumb -->

            <div id="primary" class="content-area">
                <main id="main" class="site-main">

                    <div class="product">

                        <div class="single-product-wrapper">
                            <div class="product-images-wrapper">
                                <img src="images/blank.gif" data-echo="images/single-product/s1-1.jpg" class="wp-post-image" alt="">
                            </div>
                           

                            <div class="summary entry-summary">

                                <span class="loop-product-categories">
                                    <a href="product-category.html" rel="tag">Headphones</a>
                                </span><!-- /.loop-product-categories -->

                                <h1 itemprop="name" class="product_title entry-title">Ultra Wireless S50 Headphones S50 with Bluetooth</h1>

                                <div class="brand">
                                    <a href="product-category.html">
                                        <img src="images/single-product/brand.png" alt="Gionee" />
                                    </a>
                                </div><!-- .brand -->

                                <div class="availability in-stock">Availablity: <span>In stock</span></div><!-- .availability -->

                                <hr class="single-product-title-divider" />

                                <div itemprop="description">
                                    <ul>
                                        <li>4.5 inch HD Touch Screen (1280 x 720)</li>
                                        <li>Android 4.4 KitKat OS</li>
                                        <li>1.4 GHz Quad Core™ Processor</li>
                                        <li>20 MP front and 28 megapixel CMOS rear camera</li>
                                    </ul>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <p><strong>SKU</strong>: FW511948218</p>
                                </div><!-- .description -->

                            </div><!-- .summary -->
                        </div><!-- /.single-product-wrapper -->


                        <div class="woocommerce-tabs wc-tabs-wrapper">
                            <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">

                                <li class="nav-item description_tab">
                                    <a href="#tab-description" data-toggle="tab" class="active" target="_self">Description</a>
                                </li>

                                <li class="nav-item specification_tab">
                                    <a href="#tab-specification" data-toggle="tab" target="_self">Specification</a>
                                </li>

                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
                                    <div class="electro-description">

                                        <h3>Perfectly Done</h3>
                                        <p>Praesent ornare, ex a interdum consectetur, lectus diam sodales elit, vitae egestas est enim ornare nisl. Nullam in lectus nec sem semper viverra. In lobortis egestas massa. Nam nec massa nisi. Suspendisse potenti. Quisque suscipit vulputate dui quis volutpat. Ut id elit facilisis, feugiat est in, tempus lacus. Ut ultrices dictum metus, a ultricies ex vulputate ac. Ut id cursus tellus, non tempor quam. Morbi porta diam nisi, id finibus nunc tincidunt eu.</p>
                                        <table class="layout">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Wireless</h3>
                                                        <p>Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.</p>
                                                        <h3>Fresh Design</h3>
                                                        <p>Integer bibendum aliquet ipsum, in ultrices enim sodales sed. Quisque ut urna vitae lacus laoreet malesuada eu at massa. Pellentesque nibh augue, pellentesque nec dictum vel, pretium a arcu. Duis eu urna suscipit, lobortis elit quis, ullamcorper massa.</p>
                                                        <h3>Fabolous Sound</h3>
                                                        <p>Cras rutrum, nibh a sodales accumsan, elit sapien ultrices sapien, eget semper lectus ex congue elit. Nullam dui elit, fermentum a varius at, iaculis non dolor. In hac habitasse platea dictumst.
                                                    </td>

                                                    <td>
                                                        <img class="alignright" data-echo="images/single-product/ForDescription.jpg" src="images/blank.gif" alt="">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="layout">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img class="alignnone" data-echo="images/single-product/ForDescription-1.png" src="images/blank.gif" alt="">
                                                    </td>

                                                    <td>
                                                        <h3 style="text-align: right;">Inteligent Bass</h3>
                                                        <p style="text-align: right;">Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.</p>
                                                        <h3 style="text-align: right;">Battery Life</h3>
                                                        <p style="text-align: right;">Integer bibendum aliquet ipsum, in ultrices enim sodales sed. Quisque ut urna vitae lacus laoreet malesuada eu at massa. Pellentesque nibh augue, pellentesque nec dictum vel, pretium a arcu. Duis eu urna suscipit, lobortis elit quis, ullamcorper massa.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.electro-description -->

                                    <div class="product_meta">
                                        <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>


                                        <span class="posted_in">Category:
                                            <a href="product-category.html" rel="tag">Headphones</a>
                                        </span>

                                    </div><!-- /.product_meta -->
                                </div>

                                <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
                                    <h3>Technical Specifications</h3>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Brand</td>
                                                <td>Apple</td>
                                            </tr>
                                            <tr>
                                                <td>Item Height</td>
                                                <td>18 Millimeters</td>
                                            </tr>
                                            <tr>
                                                <td>Item Width</td>
                                                <td>31.4 Centimeters</td>
                                            </tr>
                                            <tr>
                                                <td>Screen Size</td>
                                                <td>13 Inches</td>
                                            </tr>
                                            <tr class="size-weight">
                                                <td>Item Weight</td>
                                                <td>1.6 Kg</td>
                                            </tr>
                                            <tr class="size-weight">
                                                <td>Product Dimensions</td>
                                                <td>21.9 x 31.4 x 1.8 cm</td>
                                            </tr>
                                            <tr class="item-model-number">
                                                <td>Item model number</td>
                                                <td>MF841HN/A</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Brand</td>
                                                <td>Intel</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Type</td>
                                                <td>Core i5</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Speed</td>
                                                <td>2.9 GHz</td>
                                            </tr>
                                            <tr>
                                                <td>RAM Size</td>
                                                <td>8 GB</td>
                                            </tr>
                                            <tr>
                                                <td>Hard Drive Size</td>
                                                <td>512 GB</td>
                                            </tr>
                                            <tr>
                                                <td>Hard Disk Technology</td>
                                                <td>Solid State Drive</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics Coprocessor</td>
                                                <td>Intel Integrated Graphics</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics Card Description</td>
                                                <td>Integrated Graphics Card</td>
                                            </tr>
                                            <tr>
                                                <td>Hardware Platform</td>
                                                <td>Mac</td>
                                            </tr>
                                            <tr>
                                                <td>Operating System</td>
                                                <td>Mac OS</td>
                                            </tr>
                                            <tr>
                                                <td>Average Battery Life (in hours)</td>
                                                <td>9</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.panel -->

                            </div>
                        </div><!-- /.woocommerce-tabs -->
                    </div>
                </main><!-- /.site-main -->
            </div><!-- /.content-area -->

            <div id="sidebar" class="sidebar" role="complementary">

                <aside id="electro_product_categories_widget-2" class="widget woocommerce widget_product_categories electro_widget_product_categories" ng-include="'views/template/sidebarNavigation.html'">
                </aside><!-- .widget -->

                <aside id="woocommerce_products-2" class="widget woocommerce widget_products" ng-if="hasHistory()" ng-include="'views/template/latesProducts.html'">
                </aside><!-- .widget -->

            </div><!-- /.sidebar-shop -->

        </div><!-- .col-full -->
    </div><!-- #content -->

</div><!-- #page -->
